.palette-0 {
    .level-0 { background-color: #7986AC; }
    .level-1 { background-color: #50608F; }
    .level-2 { background-color: #2F4073; }
    .level-3 { background-color: #162656; }
    .level-4 { background-color: #061339; }
}

.palette-1 {
    .level-0 { background-color: #F8A6AC; }
    .level-1 { background-color: #CF676F; }
    .level-2 { background-color: #A6373F; }
    .level-3 { background-color: #7C151D; }
    .level-4 { background-color: #530006; }
}

.palette-2 {
    .level-0 { background-color: #97D38D; }
    .level-1 { background-color: #64B058; }
    .level-2 { background-color: #3C8D2F; }
    .level-3 { background-color: #1E6912; }
    .level-4 { background-color: #0A4600; }
}

.palette-3 {
    .level-0 { background-color: #FFE4AA; }
    .level-1 { background-color: #D4B36A; }
    .level-2 { background-color: #AA8639; }
    .level-3 { background-color: #805E15; }
    .level-4 { background-color: #553A00; }
}